/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package dev.aurakai.auraframefx.api.client.apis

import dev.aurakai.auraframefx.api.client.infrastructure.ApiClient
import dev.aurakai.auraframefx.api.client.infrastructure.ApiResponse
import dev.aurakai.auraframefx.api.client.infrastructure.ClientError
import dev.aurakai.auraframefx.api.client.infrastructure.ClientException
import dev.aurakai.auraframefx.api.client.infrastructure.MultiValueMap
import dev.aurakai.auraframefx.api.client.infrastructure.RequestConfig
import dev.aurakai.auraframefx.api.client.infrastructure.RequestMethod
import dev.aurakai.auraframefx.api.client.infrastructure.ResponseType
import dev.aurakai.auraframefx.api.client.infrastructure.ServerError
import dev.aurakai.auraframefx.api.client.infrastructure.ServerException
import dev.aurakai.auraframefx.api.client.infrastructure.Success
import dev.aurakai.auraframefx.api.client.models.GenerateImageDescriptionRequest
import dev.aurakai.auraframefx.api.client.models.GenerateImageDescriptionResponse
import dev.aurakai.auraframefx.api.client.models.GenerateTextRequest
import dev.aurakai.auraframefx.api.client.models.GenerateTextResponse
import okhttp3.Call
import okhttp3.HttpUrl
import java.io.IOException

class AIContentApi(
    basePath: kotlin.String = defaultBasePath,
    client: Call.Factory = ApiClient.defaultClient,
) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties()
                .getProperty(ApiClient.baseUrlKey, "https://api.auraframefx.com/v1")
        }
    }

    /**
     * Generate an image description for the provided image URL.
     *
     * @param generateImageDescriptionRequest Request containing the image URL and generation options.
     * @return The generated image description.
     * @throws IllegalStateException If the request is not correctly configured.
     * @throws IOException If the underlying HTTP client fails to execute the request.
     * @throws UnsupportedOperationException If the API returns an informational or redirection response.
     * @throws ClientException If the API returns a client error response (4xx).
     * @throws ServerException If the API returns a server error response (5xx).
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class
    )
    fun aiGenerateImageDescriptionPost(generateImageDescriptionRequest: GenerateImageDescriptionRequest): GenerateImageDescriptionResponse {
        val localVarResponse =
            aiGenerateImageDescriptionPostWithHttpInfo(generateImageDescriptionRequest = generateImageDescriptionRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GenerateImageDescriptionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse
                )
            }

            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse
                )
            }
        }
    }

    /**
     * Execute the POST /ai/generate/image-description operation and return the raw ApiResponse.
     *
     * @param generateImageDescriptionRequest The request payload containing the image URL and any generation parameters.
     * @return An ApiResponse containing the generated image description on success; the response body may be null.
     * @throws IllegalStateException If the request is not correctly configured.
     * @throws IOException If the underlying HTTP execution fails.
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun aiGenerateImageDescriptionPostWithHttpInfo(generateImageDescriptionRequest: GenerateImageDescriptionRequest): ApiResponse<GenerateImageDescriptionResponse?> {
        val localVariableConfig =
            aiGenerateImageDescriptionPostRequestConfig(generateImageDescriptionRequest = generateImageDescriptionRequest)

        return request<GenerateImageDescriptionRequest, GenerateImageDescriptionResponse>(
            localVariableConfig
        )
    }

    /**
     * Builds the RequestConfig for the POST /ai/generate/image-description operation.
     *
     * @param generateImageDescriptionRequest The request payload to be serialized as the JSON body of the request.
     * @return A RequestConfig configured with method POST, path "/ai/generate/image-description", JSON `Content-Type` and `Accept` headers, no authentication requirement, and the provided body.
     */
    fun aiGenerateImageDescriptionPostRequestConfig(generateImageDescriptionRequest: GenerateImageDescriptionRequest): RequestConfig<GenerateImageDescriptionRequest> {
        val localVariableBody = generateImageDescriptionRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ai/generate/image-description",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * Generate text from a prompt and generation parameters.
     *
     * @param generateTextRequest The request payload containing the prompt and generation parameters.
     * @return The generated text response containing the generated text and associated metadata.
     * @throws IllegalStateException If the request is not correctly configured.
     * @throws IOException If an I/O error occurs while executing the HTTP request.
     * @throws UnsupportedOperationException If the API returns an informational or redirection response.
     * @throws ClientException If the API returns a client error response (4xx).
     * @throws ServerException If the API returns a server error response (5xx).
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(
        IllegalStateException::class,
        IOException::class,
        UnsupportedOperationException::class,
        ClientException::class,
        ServerException::class
    )
    fun aiGenerateTextPost(generateTextRequest: GenerateTextRequest): GenerateTextResponse {
        val localVarResponse =
            aiGenerateTextPostWithHttpInfo(generateTextRequest = generateTextRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GenerateTextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException(
                    "Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}",
                    localVarError.statusCode,
                    localVarResponse
                )
            }

            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException(
                    "Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}",
                    localVarError.statusCode,
                    localVarResponse
                )
            }
        }
    }

    /**
     * Execute the POST /ai/generate/text operation to generate text from the provided request.
     *
     * @param generateTextRequest The request payload containing the prompt and generation parameters.
     * @return An ApiResponse containing the generated text response or null.
     * @throws IllegalStateException If the request is not correctly configured.
     * @throws IOException If the underlying HTTP call fails.
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun aiGenerateTextPostWithHttpInfo(generateTextRequest: GenerateTextRequest): ApiResponse<GenerateTextResponse?> {
        val localVariableConfig =
            aiGenerateTextPostRequestConfig(generateTextRequest = generateTextRequest)

        return request<GenerateTextRequest, GenerateTextResponse>(
            localVariableConfig
        )
    }

    /**
     * Builds the HTTP request configuration for the POST /ai/generate/text operation.
     *
     * @param generateTextRequest The request body containing the prompt and generation parameters.
     * @return A RequestConfig configured with method POST, path "/ai/generate/text", JSON headers, no authentication requirement, and the provided body.
     */
    fun aiGenerateTextPostRequestConfig(generateTextRequest: GenerateTextRequest): RequestConfig<GenerateTextRequest> {
        val localVariableBody = generateTextRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/ai/generate/text",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    /**
             * Percent-encodes a single URI path segment.
             *
             * @param uriComponent The raw path segment to encode.
             * @return The percent-encoded representation of `uriComponent` suitable for use in a URL path.
             */
            private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent)
            .build().encodedPathSegments[0]
}