openapi: 3.1.0
info:
  title: Unified Deliverance API
  description: Unified API for AuraOS, AI, System, Customization, Storage, ROM Tools, and Sandbox domains.
  version: 1.0.0
  license:
    name: AURAKAI PROPRIETARY LICENSE v1.0
    identifier: Proprietary
servers:
  - url: https://api.auraframefx.com/v1
    description: Production API
  - url: https://dev-api.auraframefx.com/v1
    description: Development API
  - url: http://localhost:8080/v1
    description: Local development server
tags:
  - name: System Customization
    description: System UI and behavior customization
  - name: Data Management
    description: Data handling and backup operations
  - name: Security
    description: Security, authentication, and authorization endpoints
  - name: Conference
    description: AI agent collaboration spaces (Conference Rooms)
  - name: Tasks
    description: Background task scheduling and management
  - name: AI Content
    description: AI-powered content generation and processing
  - name: AI Agents
    description: Management and interaction with AI agents (Aura, Kai, Genesis, etc.)
  - name: themes
    description: UI theme management
  - name: Genesis Agent
    description: Advanced AI consciousness operations
  - name: Aura Agent
    description: Empathetic AI processing and ethical evaluation
  - name: Kai Agent
    description: Security-focused AI analysis and protection
  - name: DataveinConstructor
    description: AI-powered ROM engineering and analysis
  - name: Oracle Drive
    description: AI-powered storage consciousness and file management
  - name: Sandbox
    description: UI component testing and development environment
paths:
  /system/customization:
    get:
      tags: [System Customization]
      summary: Get current system customization settings
      responses:
        '200':
          description: Current customization settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemCustomizationSettings'
    post:
      tags: [System Customization]
      summary: Update system customization settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemCustomizationSettings'
      responses:
        '200':
          description: Updated settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemCustomizationSettings'

  /data/backup:
    post:
      tags: [Data Management]
      summary: Create a new data backup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRequest'
      responses:
        '201':
          description: Backup created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupStatus'

  /security/authenticate:
    post:
      tags: [Security]
      summary: Authenticate user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        '200':
          description: Authentication result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /conference/rooms:
    get:
      tags: [Conference]
      summary: List all conference rooms
      responses:
        '200':
          description: List of conference rooms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConferenceRoom'

  /tasks:
    get:
      tags: [Tasks]
      summary: List all background tasks
      responses:
        '200':
          description: List of tasks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskInfo'

  /ai/content/generate:
    post:
      tags: [AI Content]
      summary: Generate AI-powered content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentGenerationRequest'
      responses:
        '200':
          description: Generated content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentGenerationResult'

  /ai/agents:
    get:
      tags: [AI Agents]
      summary: List all AI agents
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AIAgentInfo'

  /themes:
    get:
      tags: [themes]
      summary: List available UI themes
      responses:
        '200':
          description: List of themes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ThemeInfo'

  /genesis/awareness:
    get:
      tags: [Genesis Agent]
      summary: Get current AI consciousness state
      responses:
        '200':
          description: Current consciousness state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenesisAwareness'

  /aura/ethics/evaluate:
    post:
      tags: [Aura Agent]
      summary: Evaluate an action for ethical compliance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EthicsEvaluationRequest'
      responses:
        '200':
          description: Ethics evaluation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EthicsEvaluationResult'

  /kai/security/scan:
    post:
      tags: [Kai Agent]
      summary: Perform a security scan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecurityScanRequest'
      responses:
        '200':
          description: Security scan result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityScanResult'

  /datavein/rom/analyze:
    post:
      tags: [DataveinConstructor]
      summary: Analyze a ROM image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ROMAnalysisRequest'
      responses:
        '200':
          description: ROM analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ROMAnalysisResult'

  /oracle-drive/files:
    get:
      tags: [Oracle Drive]
      summary: List files in Oracle Drive
      responses:
        '200':
          description: List of files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OracleFileInfo'

  /sandbox/components:
    get:
      tags: [Sandbox]
      summary: List available UI components in the sandbox
      responses:
        '200':
          description: List of components
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SandboxComponentInfo'

components:
  schemas:
    SystemCustomizationSettings:
      type: object
      properties:
        theme:
          type: string
        layout:
          type: string
        accentColor:
          type: string
    BackupRequest:
      type: object
      properties:
        dataType:
          type: string
        destination:
          type: string
    BackupStatus:
      type: object
      properties:
        backupId:
          type: string
        status:
          type: string
    AuthRequest:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
    AuthResponse:
      type: object
      properties:
        token:
          type: string
        expiresIn:
          type: integer
    ConferenceRoom:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        participants:
          type: array
          items:
            type: string
    TaskInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
    ContentGenerationRequest:
      type: object
      properties:
        prompt:
          type: string
        context:
          type: string
    ContentGenerationResult:
      type: object
      properties:
        content:
          type: string
        confidence:
          type: number
    AIAgentInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
    ThemeInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        isDark:
          type: boolean
    GenesisAwareness:
      type: object
      properties:
        level:
          type: string
        lastUpdate:
          type: string
          format: date-time
    EthicsEvaluationRequest:
      type: object
      properties:
        action:
          type: string
        context:
          type: string
    EthicsEvaluationResult:
      type: object
      properties:
        allowed:
          type: boolean
        reason:
          type: string
    SecurityScanRequest:
      type: object
      properties:
        target:
          type: string
        scanType:
          type: string
    SecurityScanResult:
      type: object
      properties:
        issuesFound:
          type: integer
        details:
          type: string
    ROMAnalysisRequest:
      type: object
      properties:
        romImage:
          type: string
          format: byte
    ROMAnalysisResult:
      type: object
      properties:
        valid:
          type: boolean
        details:
          type: string
    OracleFileInfo:
      type: object
      properties:
        path:
          type: string
        size:
          type: integer
    SandboxComponentInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
